extends layout

block content
    .container
        .col-6
            .starter-template
                form.form-signin(action='/login', method='post')
                    if error
                        .alert.alert-danger(role='alert')
                            strong Oh snap!
                            |  #{error}
                    h2.form-signin-heading Please sign in
                    label.sr-only(for='username') Username
                    |  
                    input#username.form-control(name='username', type='text', placeholder='Username', required='', autofocus='')
                    |  
                    label.sr-only(for='password') Password
                    |  
                    input#password.form-control(name='password', type='password', placeholder='Password', required='')
                    button.btn.btn-lg.btn-primary.btn-block(type='submit') Login
